html,
body {
  margin: 0;
  background: #0f1624;
  color: #ffffff;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #0f1624;
}

.nav ul {
  margin: 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline;
  margin-right: 2rem;
  color: rgb(182, 182, 182);
  transition: color 0.3s;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-icons a {
  color: white;
}

.section {
  height: 100vh;
  width: 65%;
  margin: auto;
  margin-top: 50px;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: rgb(242, 245, 247);
  text-align: left;
}

.project-card,
.about-card {
  background: #1e2c47;
  color: rgb(255, 255, 255);
}

.about-columns {
  display: flex;
  justify-content: space-evenly;
}
